/*Body front size by using google font*/
body{
    font-family: 'Vollkorn SC', sans-serif;
}

/* Navigation bar home */
#navHome {
    background-color: transparent;
}

/* Home section */

#home{background-color: transparent;
    color: deepskyblue;
    text-align: center;
    padding-top: 15%;
    font-family: 'Vollkorn SC', sans-serif;

}
#home h1{
    margin-bottom: 30px;
}
#home h2{
    margin-bottom: 50px;
}
#home .btn{
    background-color: RGB(29, 167, 179);
    color: white;
    font-size: 20px;
    padding: 8px 20px;
    border-radius: 8px;
}
#home .btn:hover {
    background-color: rgba(29,167,179,0.5);
}

.container{
    max-width: 1000px;
}

/* About Section */
#about{
    color: white;
    text-align: center;
    padding-top: 100px;
}
#about h2{
    font-weight:  bold;
}
#about p{
    font-size: 17px;
    margin-bottom: 30px;
}
.aboutImage{
    background-color: transparent;
    height: 350px;
    width: 350px;
}

/* Promise section*/

#promise{
    padding-top: 100px;
    padding-bottom: 100px;
    
}
#myCarousel{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    
}
.carousel-inner .item img{
    height: 500px;
    margin: 0 auto;
}
.carousel-caption{
    position: relative;
    left: auto;
    right: auto;
    height: 100px;
}

/* Changing size of website to smaller screens */
@media only screen and (max-width: 768px ){
    .carousel-inner .item img{
        height: auto;
    }
    .carousel-inner .item h2{
        font-size: 23px;
    }
}
@media only screen and (max-width: 768px){
    .carousel-inner .item img{
        height: auto;
    }
    .carousel-inner .item h2{
        font-size: 15px;
    }
    .navbar-custom .navbar-brand{
        font-size: 12px;
    }
}


@media only screen and (max-width:768px){
    body{
        background-image: url('images/background2%20(1).jpg') center center fixed;
        background-size: cover;
    }
}

@media only screen and (max-width: 768px) {
  .aboutImage {
    width: 200px;
    height: 200px;
    }
}

@media only screen and (max-width: 768px){
    #home .container h1{
        color: deepskyblue;
        font-size: 15px;
    }
    #home .container h2{
        font-size: 15px;
    }
    #home .container p{
        font-size: 12px;
    }
    #home .container .btn {
        font-size: 12px;
    }
}




/* login */
#login{
    background color: white;
    color: white;
    font-family: 'Vollkorn', sans-serif;
    padding-top: 10%;
    padding-left: 17%;
    
}
.form-group{
    width: 320px;
    
}
#login h2{
    font-size: 40px; 
}








/*Styling in student page*/
.img-fuild { max-width: 100%;
    height: auto;
}

img {vertical-align:middle;
    border-style: none
	overflow-clip-margin: content-box;
	overflow: clip; 
}

.row{ display: flex; flex-wrap: wrap; 
    margin-right: -15px; 
    margin-left: -15px; 
}

p {
    line-height: 1.6 !important;
    font-size: 16px !important;
    font-family: 'Vollkorn SC', sans-serif;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.basic-1 h2 {
    margin-bottom: 1.375rem;
}
.basic-2 h2 {
    margin-bottom: 1.375rem;
}
.basic-3 h2 {
    margin-bottom: 1.375rem;
}
h2 {
    color: #393939;
    font-family: 'Vollkorn SC', sans-serif;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


@media (max-width: 576px)
.container {
}


.footer {
    padding-top: 4.625rem;
    padding-bottom: 0.5rem;
}

@media only screen and (max-width: 768px)
.container .footer{
    max-width: 720px;
}


@media only screen and (max-width: 768px)
.col-md-4 {
    flex: 0 0 33%;
    max-width: 33%;
}

.copyright .p-small {
    padding-top: 1.375rem;
    border-top: 1px solid #c4d8dc;
    opacity: 0.7;
    text-align: center;
    font: 400 0.75rem/1.25rem "Raleway", sans-serif;
}
p {
    line-height: 1.6 !important;
    font-size: 16px !important;
}

/* end student page*/
