.tw-absolute {
  position: absolute
}

.tw-relative {
  position: relative
}

.tw-left-\[-75px\] {
  left: -75px
}

.tw-z-10 {
  z-index: 10
}

.tw-float-right {
  float: right
}

.tw-m-0 {
  margin: 0px
}

.tw-m-auto {
  margin: auto
}

.tw-mb-\[24px\] {
  margin-bottom: 24px
}

.tw-mb-\[32px\] {
  margin-bottom: 32px
}

.tw-mt-0 {
  margin-top: 0px
}

.tw-mt-\[8px\] {
  margin-top: 8px
}

.tw-block {
  display: block
}

.tw-flex {
  display: flex
}

.tw-h-\[300px\] {
  height: 300px
}

.tw-h-\[32px\] {
  height: 32px
}

.tw-h-full {
  height: 100%
}

.tw-w-\[200px\] {
  width: 200px
}

.tw-w-\[264px\] {
  width: 264px
}

.tw-w-\[300px\] {
  width: 300px
}

.tw-w-\[32px\] {
  width: 32px
}

.tw-w-full {
  width: 100%
}

.tw-max-w-\[1000px\] {
  max-width: 1000px
}

.tw-cursor-pointer {
  cursor: pointer
}

.tw-list-none {
  list-style-type: none
}

.tw-flex-col {
  flex-direction: column
}

.tw-space-x-\[16px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(16px * var(--tw-space-x-reverse));
  margin-left: calc(16px * calc(1 - var(--tw-space-x-reverse)))
}

.tw-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.tw-rounded {
  border-radius: 0.25rem
}

.tw-rounded-full {
  border-radius: 9999px
}

.tw-rounded-md {
  border-radius: 0.375rem
}

.tw-border-0 {
  border-width: 0px
}

.tw-border-\[1px\] {
  border-width: 1px
}

.tw-border-b-\[1px\] {
  border-bottom-width: 1px
}

.tw-border-t-\[1px\] {
  border-top-width: 1px
}

.tw-border-solid {
  border-style: solid
}

.tw-border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.tw-border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity))
}

.tw-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.tw-p-0 {
  padding: 0px
}

.tw-p-\[16px\] {
  padding: 16px
}

.tw-px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.tw-py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.tw-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.tw-py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.tw-py-\[32px\] {
  padding-top: 32px;
  padding-bottom: 32px
}

.tw-text-center {
  text-align: center
}

.tw-text-\[16px\] {
  font-size: 16px
}

.tw-text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.tw-shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.hover\:tw-border-accent-blue:hover {
  --tw-border-opacity: 1;
  border-color: rgb(91 192 222 / var(--tw-border-opacity))
}

.hover\:tw-shadow-none:hover {
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
