/*Body front size by using google font*/
body{
    font-family: 'Vollkorn', serif;
}

/* Navigation bar home */
#navHome {
    background-color: transparent;
}

/* Home section */

#home{background-color: transparent;
    color: deepskyblue;
    text-align: center;
    padding-top: 15%;
    font-family: 'Vollkorn SC', sans-serif;

}
#home h1{
    margin-bottom: 30px;
}
#home h2{
    margin-bottom: 50px;
}
#home .btn{
    background-color: RGB(29, 167, 179);
    color: white;
    font-size: 20px;
    padding: 8px 20px;
    border-radius: 8px;
}
#home .btn:hover {
    background-color: rgba(29,167,179,0.5);
}

.container{
    max-width: 1000px;
}

/* About Section */
#about{
    color: black;
    text-align: center;
    padding-top: 100px;
}
#about h2{
    font-weight:  bold;
}
#about p{
    font-size: 17px;
    margin-bottom: 30px;
}
.aboutImage{
    background-color: transparent;
    height: 350px;
    width: 350px;
}

/* Promise section*/

#promise{
    padding-top: 100px;
    padding-bottom: 100px;
    
}
#myCarousel{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    
}
.carousel-inner .item img{
    height: 500px;
    margin: 0 auto;
}
.carousel-caption{
    color: black;
    position: relative;
    left: auto;
    right: auto;
    height: 100px;
}

/* Changing size of website to smaller screens */
@media only screen and (max-width: 768px ){
    .carousel-inner .item img{
        height: auto;
    }
    .carousel-inner .item h2{
        font-size: 23px;
    }
}
@media only screen and (max-width: 768px){
    .carousel-inner .item img{
        height: auto;
    }
    .carousel-inner .item h2{
        font-size: 15px;
    }
    .navbar-custom .navbar-brand{
        font-size: 12px;
    }
}


@media only screen and (max-width:768px){
    body{
        background-image: url('images/background2%20(1).jpg') center center fixed;
        background-size: auto;
    }
}

@media only screen and (max-width: 768px) {
  .aboutImage {
    width: 200px;
    height: 200px;
    }
}

@media only screen and (max-width: 768px){
    #home .container h1{
        font-size: 15px;
    }
    #home .container h2{
        font-size: 15px;
    }
    #home .container p{
        font-size: 12px;
    }
    #home .container .btn {
        font-size: 12px;
    }
}


@media only screen and (max-width: 768px){
    .footer h4{
        font-size: 15px;
    }
    .footer p{
        font-size: 10px;
    }
    .copyright .p-small {
    padding-top: 0.567rem;
    border-top: 1px auto #c4d8dc;
    opacity: 0.3;
    text-align: center;
    font: 400 0.75rem/1.25rem "Raleway", sans-serif;
}
}




/*footer*/

.copyright .p-small {
    padding-top: 1.375rem;
    border-top: 1px solid #c4d8dc;
    opacity: 0.7;
    text-align: center;
    font: 400 0.75rem/1.25rem "Raleway", sans-serif;
}

.footer {
    padding-top: 4.625rem;
    padding-bottom: 0.5rem;
}

